
<nav>
    <!-- Checkbox for toggling menu -->
    <input type="checkbox" id="check">

    <!-- Menu icon -->
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>

    <!-- Site logo -->
     
       <label class="logo"><a href="" ><img src="Images/DigiLogocropped.jpg" alt="" srcset=""></a></label>
    

    <!-- Navigation links -->
      <ul>
        <li class="navy"><a class="" href="#">Home</a></li>
        <li class="navy"><a href="#">Services</a></li>
        <li class="navy"><a href="#">Work</a></li>
        <li class="navy"><a href="#">About us</a></li>
        <li class="navy"><a href="#">Clients</a></li>
        <li class="navy"><a href="#">Contact</a></li>
        <li>
          <!-- <iconify-icon icon="bytesize:search" class="search-icon"></iconify-icon> -->
        </li>
      </ul>
    
  </nav>